<h1>{{title}}</h1>
<h2>{{date}}</h2>
<h3>{{rating}}</h3>
<h4>{{restaurant}}</h4>
<h5>{{content}}</h5>

        <head>
                <title>{{The TLC Group}}</title>
        </head>

        <body>
            <h1>{{The TLC Group}}</h1>
            <nav>
                <ul>
                    <a href="#"><li>Rating</li></a>
                    <a href="#"><li>Restaurant</li></a>
                    <a href="#"><li>Content</li></a>
                    <a href="#"><li>Date</li></a>

                </ul>
            </nav>
            <section class="items">
                <div class="item"
                    <img src="istockphoto-955690644-612x612.jpeg">
                    <h2>Italian</h2>
                    <button>Order</button>
                </div>
                <div class="item"
                    <img src="istockphoto-929061638-612x612.jpeg">
                    <h2>Mexican</h2>
                    <button>Order</button>
                </div>
                <div class="item"
                    <img src="istockphoto-1185859962-612x612.jpeg">
                    <h2>Greek</h2>
                    <button>Order</button>
                </div>
                <div class="item"
                    <img src="istockphoto-1050199548-612x612.jpeg">
                    <h2>American</h2>
                    <button>Order</button>
                </div>
                <div class="item"
                    <img src="istockphoto-1370262973-612x612.jpeg">
                    <h2>Indian</h2>
                    <button>Order</button>
                </div>

            </section>

        </body>
           
       
        <div class="container">
           
            <div class="row cb_row">
               
                <p style="text-align: center;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtF21zwk6RMXtHEkXk-JG9hWFV1vVlQ0id4w&usqp=CAU" style="width: 487px; height: 476px;" width="487" height="476">
                </p>
                <hr>
                <h2 class="heading" id="RAIN OR SHINE"
                 <p>{{date}}</p>
                 <hr>
                 <p>
        <div class="wrapper">
        <div class="container">
            <span class="justifyfull"> "The taste of The TLC Group Food festival event is honored to support and help the community. 
            Grab everything from Italian cuisine, savory BBQ to sweet desserts from over 50 of gourmet food vendors. 
            Purchase spices, homemade oils and honey or stock up on fresh vegetables and fruits at the farm stand." 
            </span>
            </p>
        </div>
    </div>

                        




